/* New In Section */
.new-in {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.new-in button {
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: transparent;
    font-family: quicksand, 'sans-serif';
    padding-inline: 10px;
    border: 1px solid purple;
    color: purple;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.new-in p {
    font-size: smaller;
    padding: 7px;
}

button:hover {
    background-color: purple;
    color: white;
}

.new-in-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.new-in-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.new-in-grid .product-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.new-in-grid .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.new-in-grid .product-card img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.2s ease;
}

.new-in-grid .product-card:hover img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.new-in-grid .product-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.new-in-grid .product-card p {
    margin: 5px 0;
    color: #777;
}

.product-card img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.2s ease;
}

.product-card:hover img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

@media (min-width: 1025px) {
    .new-in-title {
        font-size: 2.5rem;
    }

    .new-in-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}