<nav class="navbar">
    <div class="navbar-logo">
        <a href="/hembrant-shop.html">Bränt & Blandat</a>
    </div>
    <div class="navbar-menu" id="navbarMenu">
        <ul>
            <li><a href="categories/apparel.html">Apparel</a></li>
            <li><a href="categories/familiar.html">Familiar</a></li>
            <li><a href="">Items & Artefacts</a></li>
            <li><a href="">Scrolls and Enchantments</a></li>
        </ul>

    </div>
    <div class="navbar-hamburger" id="hamburgerIcon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</nav>